{% extends "base.jinja2" %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    <ul>
        {% for item in nested %}
            <li>{{ loop.index0 }}: {{ item[loop.index0] }}</li>
        {% endfor %}
    </ul>
{% endblock %}
